.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.intro .img {
  display: flex;
  justify-content: start;
  align-items: center;
}
.intro div {
  width: 35rem;
  max-width: 80vw;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
}
.intro div .nav-btn {
  height: min-content;
  width: fit-content;
  margin: 2rem 0;
}

.img {
  width: 30rem;
  min-width: 16vw;
}

h1 {
  font-size: calc(2.7vw + 1rem);
  font-family: monospace;
  color: #3c3c3c;
}
